* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url(../img/background\ 1.png) no-repeat;
    background-size: 100%;
    font-family: 'Roboto';
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;   
}
li {
    text-decoration: none;
}
.container {
    max-width: 1030px;
    margin: 0 auto;
}
.header_wrapper {
    display: flex;
    color: #fff;
    padding-top: 51px;
}
.header_logo {
    display: flex;
    position: relative;
}
.header_logo:hover {
    color: rgba(242, 101, 34, 1);
}
.header_logo_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}
.header_logo_overlay:hover {
    opacity: 1;
}
.header_list_logo {
    margin-left: 10px;
}
.header_logo_text {
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
}
.text_continuation {
    font-size: 18px;
    line-height: 18px;
}
.header_info {
    margin-left: auto;
}
.header_info_email {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    padding-bottom: 15px;
}
.header_info_email:hover {
    color: rgba(242, 101, 34, 1);
}
.header_info_tel {
    text-align: end;
}
.header_info_tel:hover {
    color: rgba(242, 101, 34, 1);
}
.main_section_tours {
    margin-top: 17px;
}
.main_gallary_tours {
    display: grid;
    grid-template-columns: repeat(3, 309px);
    gap: 37px 54px;
}
.main_gallary_img {
    position: relative;
    max-height: 232px;
}
.main_gallary_img img {
    display: inline-block;
    padding: 2px;
    border: 1px solid  #666;
    background: linear-gradient(135deg, #ffffff 51%,#0a0e0a 51%,#aebcbf 51%,#0a0809 100%);
}
.main_gallary_title {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding-top: 15px;
}
.main_gallary_title:hover {
    color: rgba(242, 101, 34, 1);
}
.main_gallary_block_hover {
    display: flex;
    position: absolute;
    bottom: -20px; 
    left: 0; 
    background-color: rgba(242, 101, 34, 1); 
    width: 100%;
    opacity: 0;
}
.main_gallary_block_hover:hover {
    opacity: 1;
    margin-bottom: 20px;
    transition: 1.5s;
}
.hover_cost {
    padding-left: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
}
.hover_cost_item_from {
    padding: 7px 0 16px 0;
}
.hover_cost_item_euro {
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 12px;
}
.hover_details {
    margin-left: auto;
    padding: 29px 16px 0 0;
}
.hover_details_title {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;    
}
.hover_details::after {
    content: url(../img/main_gallary_block_hover.png);
    padding-left: 10px;
}
.footer {
    margin: 48px 0 15px 0;
}
.footer_text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}